*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
header{
  background: linear-gradient(104deg, rgb(16, 54, 54), rgb(48, 179, 98));
  color: white;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.body{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 20px;
  width: 300px;
  height: fit-content;
  padding: 20px;
  background-color: rgb(245, 243, 243);
  margin: 10px;
}
.text{
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px; 
}
.text:hover{
  border-color:rgb(0, 173, 87) ;
  cursor: pointer;
  color: rgb(0, 173, 87) ;
}
.plus{
  display: block;
  width: 30px;
  object-fit: contain;
  margin: 0;
  margin-right: 10px;
}
.imgBox{
  width: 115px;
  margin-top: 10px;
  display: flex;
  align-items: center;  
}
.imgBox:hover{
  cursor: pointer;
  color: rgb(0, 173, 87);
}
.title{
  font-weight: bold;
}

.modalBody{
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalBox{
  width: 400px;
  height: 150px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.modalInput{
  font-size: 20px;
  border-radius: 5px;
 border-color: rgb(163, 163, 163);
}